In [19]:
import pandas as pd

path = "/Users/hannah/Documents/GitHub/neuro-symbolic-framework-pralsetinib/data/chembl_raw_pralsetinib_targets.csv"
df = pd.read_csv(path, sep=";")   # <-- key fix
df.head()
#df.isna().mean().sort_values(ascending=False).head(15)

,ChEMBL ID,Name,Accessions,Type,Organism,Compounds,Activities,Tax ID,Species Group Flag
0,CHEMBL612558,ADMET,NaN,ADMET,NaN,142422,496635,NaN,False
1,CHEMBL612545,Unchecked,NaN,UNCHECKED,NaN,782405,2291439,NaN,False
2,CHEMBL4523582,Replicase polyprotein 1ab,P0DTD1,SINGLE PROTEIN,Severe acute respiratory syndrome coronavirus 2,11766,17929,2697049.0,False
3,CHEMBL4303835,SARS-CoV-2,NaN,ORGANISM,Severe acute respiratory syndrome coronavirus 2,11952,40586,2697049.0,False
4,CHEMBL395,HepG2,NaN,CELL-LINE,Homo sapiens,182794,201750,9606.0,False

In [18]:
df_protein = df[df["Type"].str.contains("SINGLE PROTEIN", case=False, na=False)]
df_human = df_protein[df_protein["Organism"].str.contains("Homo sapiens", na=False)]
df_human.shape

df_human[["ChEMBL ID", "Name", "Organism", "Type"]]

,ChEMBL ID,Name,Organism,Type
6,CHEMBL1974,Receptor-type tyrosine-protein kinase FLT3,Homo sapiens,SINGLE PROTEIN
8,CHEMBL2971,Tyrosine-protein kinase JAK2,Homo sapiens,SINGLE PROTEIN
10,CHEMBL2041,Proto-oncogene tyrosine-protein kinase recepto...,Homo sapiens,SINGLE PROTEIN

After filtering, left with three human protein targets that have measured bioactivity data for pralsetinib in ChEMBL. These are real, protein-level interactions, not cell lines or ADMET panels.
- Target type = SINGLE PROTEIN
- Organism = Homo sapiens


**Receptor-type tyrosine-protein kinase FLT3**
- A receptor tyrosine kinase (like RET)
- Known oncogenic kinase
- Common off-target for kinase inhibitors
- This is a plausible off-target

**Tyrosine-protein kinase JAK2**
- Central to cytokine and inflammatory signaling
- Frequently linked to: cardiovascular effects, blood pressure regulation, immune-mediated toxicity
- Interesting off-target especially for hypertension

**Proto-oncogene tyrosine-protein kinase receptor RET**
- The intended on-target
- Confirms your pipeline is correct; validates  approach